
.app{
    background-color: lightblue;
    height:650px
}
.log{
    background-color: grey;
    height:500px;
}
.logform{
    padding-top: 150px;
}
.reg{
    background-color: rgb(99, 95, 161);
    height: 500px;
}
.regform{
    padding-top:120px;
}
label{
    width:100px;
    display:inline-block;
}